body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.links-text {
    font-size: 1.5em;
    padding: 12px 25px;
    border: none;
    margin: 5px 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.links-text:hover {
    border-bottom: 3px solid white;
}

.links {
    text-decoration: none;
    color: white;
}

#links-div, #icons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin: 20px 10px;
}

#icons-div {
    margin: 15px 10px;
}

i {
    font-size: 1.8em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 0px 20px;
}

@media screen and (max-width: 981px){
    i {
        font-size: 1em;
        margin: 10px;
    }
    
    .links-text {
        font-size: 1em;
        padding-left: 5px;
        padding-right: 5px;
    }
}