.jumbotron {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-self: start;
    height: 100vh;
    width: 100vw;
}

#text-div {
    margin: 35px;
    width: 60%;
}

.display-4 {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 3.5em;
}

.lead {
    font-size: 1.8em;
}

.tag-syntax {
    color: lime;
    font-size: 1em;
}

#tag-text {
    font-family: monospace;
    font-size: 1em;
}